<div class="bg-gray-800 w-full h-full md:flex text-white">
  <div class="p-20 bg-gradient-to-r from-gray-800 via-gray-600 to-gray-500">
    <div class="shadow-lg cursor-pointer hover:shadow-indigo-500/50 ease-in-out duration-1000 m-2 bg-gradient-to-r
     from-indigo-500 via-purple-500 to-pink-500 p-4 rounded-l text-white">
      Hello Word
    </div>
  </div>
  <div class="p-20">
    <div *ngIf="message">
      <p class="bg-green-600 shadow-xl p-8 rounded text-xl scale-up-center">
        Nuevo ingreso en la pagina web!
      </p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
